* {
    // border: 1px solid #20253A;
    box-sizing: border-box;
}

.home {
    position: absolute;
    top: 90px;
    left: 100px;
    width: 924px;
    border: 1px solid black;

    @media only screen and (min-width: 1024px) {
        width: 90%;
    }

    // height: 82vh;


    .Header-presention {
        margin-bottom: 10px;

        .name-red {
            color: #FF0000;
        }
    }

    .all-graphics {
        display: flex;
        justify-content: space-between;

        // width: 80%;
        // height: 80%;
        border: 1px solid #000;

        @media only screen and (min-width: 1024px) {
            width: 100%;
        }

        .first-part {
            // width: 55%;
            height: 80%;

            @media only screen and (min-width: 1024px) {
                width: 70%;
            }

            .chart-split {
                display: flex;
                justify-content: space-between;
            }
        }

        .seconde-part {
            @media only screen and (min-width: 1024px) {
                width: 25%;
            }
        }
    }
}

// css recharts 
.div-piechart {
    position: relative;
    width: 200px;
    height: 200px;
    background: #FBFBFB;
    border-radius: 10px;

    .p-piechart {
        position: absolute;
        color: #20253A;
        padding: 10px;
    }

    .div-score-chart {
        position: absolute;
        top: 40%;
        left: 43%;
        z-index: 12;

        p {
            color: #74798C;
            font-size: 11px;
        }
    }

    .recharts-wrapper {
        width: 200px !important;
        height: 150px !important;

        .recharts-surface {
            width: 200px;
            height: 200px;
        }
    }
}

.div-radar {
    width: 223px;
    height: 200px;
    background-color: #000;
    border-radius: 10px;

    .recharts-wrapper {
        width: 240px !important;
        height: 200px !important;
        margin: 0 auto;

        .recharts-surface {

            width: 250px;
            height: 200px;
            transform: scale(1.1);
            transform: translate(-35px, -5px);
        }
    }
}

.div-linechart {
    background: #FF0000;
    border-radius: 10px;
}

.div-barchart {
    background: #FBFBFB;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.p-linechart {
    color: #FF8080;
    padding: 10px 10px 0 10px;
}