.home {
    position: absolute;
    top: 90px;
    left: 100px;
    width: 90%;
    // border: 1px solid black;
    height: 82vh;


    .Header-presention {
        margin-bottom: 10px;

        .name-red {
            color: #FF0000;
        }
    }

    .all-graphics {
        display: flex;
        justify-content: space-between;

        .first-part {
            // border: 1px solid red;
            width: 75%;

            // .barchart-container-full {}

            .chart-split {
                display: flex;
                justify-content: space-between;
            }
        }

        .seconde-part {
            // border: 1px solid green;
            width: 20%;
        }
    }
}

// css recharts 
.div-piechart {
    width: 250px;
    height: 200px;
    background: #FBFBFB;
    border-radius: 10px;

    .recharts-wrapper {
        width: 250px !important;
        height: 150px !important;

        .recharts-surface {
            width: 250px;
            height: 200px;
        }
    }
}

.div-radar {
    width: 250px;
    height: 200px;
    background-color: #000;
    border-radius: 10px;

    .recharts-wrapper {
        width: 250px !important;
        height: 200px !important;

        .recharts-surface {
            margin: 0 auto;
            width: 200px;
            height: 200px;
        }
    }
}

.div-linechart {
    background: #FF0000;
    border-radius: 10px;
}

.div-barchart {
    background: #FBFBFB;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}